@{
    ViewData["Title"] = "Main Dashboard";
}

<div class="view-body">
    <div class="container row">
        <div class="main-header">
            <h4 class="main-header">HOFAC Dashboard</h4>
        </div>
    </div>
    <div class="container row">
        
    </div>
</div>
