html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  color: dimgray;
  background-color: #020208;
}

body {
  color: dimgray;
  background-color: #020208;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

div.main-header{
  background-color: #020208;
  color: dimgray;
}

h4.main-header {
  text-align: center;
}

.dev-warn {
  background-color: red;
  color: white;
  text-align: center;
}

.navbar {
  background-color: #020208;
  color: dimgray;
}

.text {
  text-align: center;
}

.status-container{
  max-height: 200px;
}

.col-4.status-container{
  border-style: inset;
}

.col-4.link-container{
  border-style: inset;
}

.dashboard-grid-box{
  display: contents;
}

.dashboard-grid-item{
  margin: 1px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 195px;
  text-align: center;
}

.link-container.dashboard-grid-item{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 195px;
}