html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  color: dimgray;
  background-color: #020208;
}

body {
  color: dimgray;
  background-color: #020208;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

div.main-header{
  background-color: #020208;
  color: dimgray;
}

h4.main-header {
  text-align: center;
}

.dev-warn {
  background-color: red;
  color: white;
  text-align: center;
}

.navbar {
  background-color: #020208;
  color: dimgray;
}